<nav class="nav menu-secondary">
  <a href="/AB-Site-Redesign/registration/online_registration.html" class="nav-link">
    Online Registration
  </a>
  <a href="/AB-Site-Redesign/registration/price.html" class="nav-link">
    Price
  </a>
  <a href="/AB-Site-Redesign/registration/registration_faq.html" class="nav-link">
    Frequently Asked Questions
  </a>
  <a href="/AB-Site-Redesign/registration/registration_policy.html" class="nav-link">
    Registration Policy
  </a>
  <a href="/AB-Site-Redesign/registration/registration_events.html" class="nav-link">
    Events
  </a>
  <a href="/AB-Site-Redesign/registration/group_registration/index.html" class="nav-link">
    School or Education Groups
  </a>
</nav>
