<nav class="nav menu-secondary">
  <a href="/AB-Site-Redesign/applications/cosplay/cosplay_events.html" class="nav-link">
    All Events
  </a>
  <a href="/AB-Site-Redesign/applications/cosplay/user/profile.html" class="nav-link">
    My Profile
  </a>
  <a href="/AB-Site-Redesign/applications/cosplay/user/events.html" class="nav-link">
    My Events
  </a>
  <a href="/AB-Site-Redesign/applications/cosplay/user/costumes.html" class="nav-link">
    My Costumes
  </a>
  <a href="/AB-Site-Redesign/applications/cosplay/help.html" class="nav-link">
    Help
  </a>
  <a href="/AB-Site-Redesign/applications/cosplay/user/history.html" class="nav-link">
    My History
  </a>
  <a href="https://forums.animeboston.com/ucp.php" class="nav-link">
    My Forum Profile
  </a>
  <a href="https://forums.animeboston.com/ucp.php" class="nav-link">
    Logout
  </a>
</nav>
<h1>{{ page.title }}</h1>
