<nav class="navbar navbar-expand-lg top-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation" onclick="scrollToTop()">
    <span class="oi oi-menu"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Information</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Schedules</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/guest/guests.html">Guests</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/registration/online_registration.html">Registration</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/information/hotel_information.html">Hotel</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/information/travel_information.html">Travel</a>
          <a class="dropdown-item" href="#">Policies &amp; FAQs</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Activities</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Dealers Room</a>
          <a class="dropdown-item" href="#">Artist Alley</a>
          <a class="dropdown-item" href="#">AMV Contest</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/guest/autograph_schedule.html">Guest Autographs</a>
          <a class="dropdown-item" href="#">Cosplay Games</a>
          <a class="dropdown-item" href="#">Masquerade</a>
          <a class="dropdown-item" href="#">Concerts</a>
          <a class="dropdown-item" href="#">Dances</a>
          <a class="dropdown-item" href="#">Charity Events</a>
          <a class="dropdown-item" href="#">Game Shows</a>
          <a class="dropdown-item" href="#">Karaoke</a>
          <a class="dropdown-item" href="#">Live Gaming</a>
          <a class="dropdown-item" href="#">Maid Cafe</a>
          <a class="dropdown-item" href="#">Manga Library</a>
          <a class="dropdown-item" href="#">Photo Suite</a>
          <a class="dropdown-item" href="#">Programming</a>
          <a class="dropdown-item" href="#">Workshops</a>
          <a class="dropdown-item" href="#">Other Activities</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Sign Ups</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">AMV Contest</a>
          <a class="dropdown-item" href="#">Dealers Room</a>
          <a class="dropdown-item" href="#">Artist Alley</a>
          <a class="dropdown-item" href="#">Blood Drive</a>
          <a class="dropdown-item" href="#">Community Row</a>
          <a class="dropdown-item" href="#">Cosplay Games</a>
          <a class="dropdown-item" href="#">Cosplay Gatherings</a>
          <a class="dropdown-item" href="#">Masquerade</a>
          <a class="dropdown-item" href="#">Karaoke</a>
          <a class="dropdown-item" href="#">Panels</a>
          <a class="dropdown-item" href="#">Press</a>
          <a class="dropdown-item" href="#">Staff HQ</a>
          <a class="dropdown-item" href="#">Support Squad</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">About</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/about/about.html">About Us</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/convention_history.html">Convention History</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/staff_listing.html">Staff Listing</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/location.html">Around Boston</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Volunteer</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/staff_guidelines.html">Staff</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/staffhq/index.html">Staff HQ</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/support_squad/index.html">Support Squad</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/contact.html">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/admin/index.html">Admin</a>
      </li>

      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Information</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/info/programming_schedule.html">Programming Schedule</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/online_registration.html">Registration</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/policy/policy_menu.html">Convention Policy</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/hotel_information.html">Hotel Information</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/info/travel_information.html">Travel Information</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/activities/activities.html">Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/applications/applications.html">Applications</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">About</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/about/about.html">About Us</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/staff_listing.html">Staff Listing</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/location.html">Around Boston</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/media.html">Media</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Volunteer</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/">Staff Guidelines</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/staffhq/">Staff HQ</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/support_squad/">Support Squad</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/contact.html">Contact Us</a>
      </li>
      -->
    </ul>
    <form id="form-search" name="form-search" class="my-2 my-lg-0" action="/search" method="get">
      <div class="input-group">
        <input type="search" class="form-control" name="q" placeholder="Google Search" />
        <span class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <span class="oi oi-magnifying-glass"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</nav>
