<nav class="navbar navbar-expand-lg top-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation" onclick="scrollToTop()">
    <span class="oi oi-menu"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Information</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/information/programming_schedule.html">Schedules</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/guest/guests.html">Guests</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/registration/online_registration.html">Registration</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/information/hotel_information.html">Hotel</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/information/travel_information.html">Travel</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/policy/policy_menu.html">Policies &amp; FAQs</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/AB-Site-Redesign/activities/index.html">Activities</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/AB-Site-Redesign/signup/index.html">Sign Ups</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">About</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/about/about.html">About Us</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/convention_history.html">Convention History</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/staff_listing.html">Staff Listing</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/about/location.html">Around Boston</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Volunteer</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/staff_guidelines.html">Staff</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/staffhq/index.html">Staff HQ</a>
          <a class="dropdown-item" href="/AB-Site-Redesign/volunteer/support_squad/index.html">Support Squad</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/contact.html">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/AB-Site-Redesign/admin/index.html">Admin</a>
      </li>
    </ul>
    <form id="form-search" name="form-search" class="my-2 my-lg-0" action="/search" method="get">
      <div class="input-group">
        <input type="search" class="form-control" name="q" placeholder="Google Search" />
        <span class="input-group-append">
          <button type="submit" class="btn btn-secondary">
            <span class="oi oi-magnifying-glass"></span>
          </button>
        </span>
      </div>
    </form>
  </div>
</nav>
