<nav class="nav menu-secondary">
  <a class="nav-link" href="/AB-Site-Redesign/applications/artists/artists_alley_form.html">
    Apply to be in the Artists Alley
  </a>
  <a class="nav-link" href="/AB-Site-Redesign/applications/artists/faq.html">
    Frequently Asked Questions
  </a>
  <a class="nav-link" href="/AB-Site-Redesign/applications/artists/beginners_guide.html">
    Beginners Guide
  </a>
  <a class="nav-link" href="/AB-Site-Redesign/applications/artists/pro_row.html">
    Pro Row
  </a>
  <a class="nav-link" href="/AB-Site-Redesign/applications/taxid/exhibitor_tax_id.html">
    Exhibitor Tax ID
  </a>
  <a class="nav-link btn btn-secondary" href="https://forums.animeboston.com/viewforum.php?f=8">
    Artists Forum
  </a>
</nav>
