<nav class="nav menu-secondary">
  <a href="/AB-Site-Redesign/signup/artists/artists_alley_form.html" class="nav-link">
    Apply to be in the Artists Alley
  </a>
  <a href="/AB-Site-Redesign/signup/artists/faq.html" class="nav-link">
    Frequently Asked Questions
  </a>
  <a href="/AB-Site-Redesign/signup/artists/beginners_guide.html" class="nav-link">
    Beginners Guide
  </a>
  <a href="/AB-Site-Redesign/signup/artists/pro_row.html" class="nav-link">
    Pro Row
  </a>
  <a href="/AB-Site-Redesign/signup/taxid/exhibitor_tax_id.html" class="nav-link">
    Exhibitor Tax ID
  </a>
  <a href="https://forums.animeboston.com/viewforum.php?f=8" class="nav-link">
    Artists Forum
  </a>
</nav>
