<div class="nav menu-secondary">
  <a href="/AB-Site-Redesign/activities/cosplay/cosplay_faq.html" class="nav-link">
    FAQ
  </a>
  <a href="/AB-Site-Redesign/policy/convention_policy.html#props-policy-updated-22216" class="nav-link">
    Props Policy
  </a>
  <a href="/AB-Site-Redesign/activities/cosplay/featured_cosplayers.html" class="nav-link">
    Featured Cosplayers
  </a>
  <a href="/AB-Site-Redesign/activities/cosplay/gatherings.html" class="nav-link">
    Gatherings
  </a>
  <a href="/AB-Site-Redesign/activities/cosplay/photoshoots.html" class="nav-link">
    Photoshoot Schedule
  </a>
  <a href="/AB-Site-Redesign/activities/cosplay/repair.html" class="nav-link">
    Cosplay Repair
  </a>
  <a href="https://forums.animeboston.com/viewforum.php?f=5" class="nav-link">
    Cosplay Forums
  </a>
</div>
